.renew2025 {
  footer {
    background: #fff;
    .foot_menuwrap {
      dl {
        dt {
          a {
            font-weight: 500;
            color: #454B52;
          }
        }
        dd {
          ul {
            li {
              a {
                font-weight: 300;
                color: #1F1D1D;
              }
            }
          }
        }
      }
    }
    address {
      padding: 0 0 80px;
      .info_wrap {
        li {
          ul {
            li {
              font-size: 14px;
              color: #807F7E;
              &::before {
                background: #78716E;
                opacity: 0.3;
              }
              .corp {
                color: #454B52;
              }
            }
          }
        }
      }
      .copy_area {
        margin-top: 42px;
        .copy {
          color: #2C2A27;
          opacity: 0.6;
          margin-right: 20px;
        }
      }
      .btn_popup {
        position: relative;
        padding: 0 0 0 20px;
        border: 0;
        color: #2C2A27;
        opacity: 0.6;
        font-size: 14px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 13px;
          background: #78716E;
          opacity: 0.3;
        }
        &::after {
          display: none;
        }
      }
      .special_logo {
        display: none;
      }
      .sns_wrap {
        .sns_list {
          li {
            a {
              width: 50px;
              height: 50px;
              background: url("../image/main/renew2025/footer_sns.png");
              &.youtube {
                background-position: 0 0;
              }
              &.instagram {
                background-position: -50px 0;
              }
              &.facebook {
                background-position: -100px 0;
              }
              &.twitter {
                background-position: -150px 0;
              }
            }
          }
        }
      }
      .qrcode {
        width: 271px;
        margin-top: 40px;
        border-radius: 0;
        > ul {
          li {
            width: 135px;
            border-radius: 0;
            > div:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}