// 다국어 분기 gnb 위치
:lang(en) {
  .renew2025 {
    nav {
      .nav_cont {
        left: -400px;
      }
    }
  }
}
:lang(ja) {
  .renew2025 {
    nav {
      .nav_cont {
        left: -400px;
      }
    }
  }
}
:lang(ch) {
  .renew2025 {
    nav {
      .nav_cont {
        left: -400px;
      }
    }
  }
}
:lang(zh) {
  .renew2025 {
    nav {
      .nav_cont {
        left: -420px;
      }
    }
  }
}
:lang(vi) {
  .renew2025 {
    nav {
      .nav_cont {
        left: -310px;
      }
    }
  }
}
:lang(es) {
  .renew2025 {
    nav {
      .nav_cont {
        left: -424px;
      }
    }
  }
}
:lang(de) {
  .renew2025 {
    nav {
      .nav_cont {
        left: -346px;
      }
    }
  }
}
:lang(fr) {
  .renew2025 {
    nav {
      .nav_cont {
        left: -346px;
      }
    }
  }
}
:lang(ru) {
  .renew2025 {    
    nav {
      .nav_cont {
        left: -278px;
      }
    }
  }
}

.renew2025 {
  // utill menu
  .new_subscription {
    display: none !important;
  }
  .util_wrap {
    .inner {
      width: 1280px;
    }
    .util_menu {
      > ul {
        > li {
          .btn_language {
            border: 0;
          }
        }
      }
    }
  }
  // header 
  header {
    &.main {
      &.fixed_white{
        border-bottom: 1px solid #F2F0EB;
        transition: none;
      }
    } 
    &.open {
      .header_bg {
        border-top: 5px solid #F2F0EB;
      }
    }
    .h_inner {
      width: 1280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 242px;
        height: 24px;
        margin: 0;
        background: url("../image/main/renew2025/logo_header.svg") no-repeat;
      }
      &::after {
        display: none;
      }
    } 
  }
  //nav
  nav {
    .nav_list {
      > li {
        > a {
          min-width: auto;
          padding: 0 35px;
          font-weight: 500;
          line-height: 83px;
        }
        .nav_d2 {
          > li {
            border-left: 0;
            a {
              position: relative;
              min-height: auto;
              margin-bottom: 24px;
              color: #2c2a27;
              &::after {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url("../image/main/renew2025/ico_arrR_black.svg") no-repeat top 2px center;
              }
            }
            > ul {
              > li {
                margin-top: 0;
                > a {
                  color: #2C2A27;
                  margin-bottom: 12px;
                  &::after {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .nav_line {
      bottom: -5px;
    }
    .nav_cont {
      left: -416px;
      width: 1280px;
      &.col3 {
        .nav_d2 {
          width: calc(100% - 266px);
          > li {
            width: 33.33%;
          }
        }
        &.wide {
          .nav_d2 {
            width: 100%;
          }
        }
      }
      &.col4 {
        .nav_d2 {
          width: calc(100% - 266px);
          > li {
            width: 25%;
          }
        }
      }
      &.col5 {
        .nav_d2 {
          width: calc(100% - 266px);
          > li {
            width: 20%;
          }
        }
        &.wide {
          .nav_d2 {
            width: 100%;
            >li {
              width: 20%;
              &:last-child {
                width: 289px;
                padding: 0 0 0 20px;
              }
            }
          }
        }
      }
      &.col6 {
        .nav_d2 {
          width: calc(100% - 266px);
          > li {
            width: 16.66%;
          }
        }
      }
      .nav_d2 {
        display: flex;
        > li {
          display: flex;
          flex-direction: column;
          padding: 0 20px;
          > a + a {
            margin-top: 48px;
          }
          .nav_d3 + a {
            margin-top: 48px;
          }
        }
      }
      .gnb_banner {
        width: 266px;
        height: auto;
        a {
          &:hover,
          &:focus {
            .img_wrap {
              &:after {
                display: none;
              }
            }
          }
          .img_wrap {
            width: 100%;
            height: 100%;
            img {
              width: auto;
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  //nav_right
  .nav_right {
    display: flex;
    align-items: center;
    margin-top: 0;
    .chatbot_area {
      padding-right: 14px;
      .btn_chatbot {
        width: 48px;
        height: 48px;
        background: url("../image/main/renew2025/gnb_ico_chatbot.svg") no-repeat center;
        &.on,
        &:hover,
        &:focus {
          background: url("../image/main/renew2025/gnb_ico_chatbot.svg") no-repeat center;
        }
      }
    }
    .myasiana_area {
      .btn_myasiana {
        width: 48px;
        height: 48px;
        margin-right: 4px;
        background: url("../image/main/renew2025/gnb_ico_myasiana_off.svg") no-repeat center;
        &.on,
        &:hover {
          background: url("../image/main/renew2025/gnb_ico_myasiana_on.svg") no-repeat center;
        }
        .newnum {
          top: 3px;
          left: 26px;
        }
      }
    }
    .search_area {
      .btn_search {
        width: 48px;
        height: 48px;
        background: url("../image/main/renew2025/gnb_ico_search_off.svg") no-repeat center;
        &.on,
        &:hover {
          background: url("../image/main/renew2025/gnb_ico_search_on.svg") no-repeat center;
        }
      }
    }
  }
}